h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
}
h3 {
    text-align: center;
}
p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
}
p.important {
    font-size: 1.5em;
    font-weight: 900;
}
p.justify {
    text-align: justify;
}
p.indent {
    text-indent: 1em;
}
blockquote {
    font-size: 0.9em;
    color: darkslategray;
}
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
.italic {
    font-style: italic;
}
.red {
    color: red;
}
.redhex {
    color: #cc0000;
}
.spacey {
    letter-spacing: .15em;
    word-spacing: .5em;
    line-height: 1.5em;
}
